# Virtual environments
.venv/

# Local settings
.env
.vscode/

# Python cache
__pycache__/
*.pyc

# Generated data layers (keep gold for deployment)
/data/raw/
/data/bronze/
/data/silver/
/data/output/
/data/processed/

# PowerBI files
PowerBI/

# OS junk
.DS_Store
Thumbs.db
